@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

@font-face {
	font-family: 'Porter Sans Block';
	src: url('../fonts/porter_sans_block/porter-sans-inline-block.ttf')
		format('truetype');
}

:root {
	--primary-font: 'Porter Sans Block';
	--secondary-font: 'Roboto', sans-serif;
	--accent-font: 'Philosopher', sans-serif;

	/* font sizes */
	/* --fs-step--2: clamp(1.13rem, calc(0.3rem + 1.11vw), 0.52rem);
	--fs-step--1: clamp(1.35rem, calc(0.36rem + 1.33vw), 0.63rem);
	--fs-step-0: clamp(0.75rem, calc(0.43rem + 1.59vw), 1.63rem);
	--fs-step-1: clamp(0.9rem, calc(0.52rem + 1.91vw), 1.95rem);
	--fs-step-2: clamp(1.08rem, calc(0.62rem + 2.29vw), 2.34rem);
	--fs-step-3: clamp(1.3rem, calc(0.75rem + 2.75vw), 2.81rem);
	--fs-step-4: clamp(1.56rem, calc(0.9rem + 3.3vw), 3.37rem);
	--fs-step-5: clamp(1.87rem, calc(1.07rem + 3.96vw), 4.04rem); */

	/* min: 360px/10pt max: 1440px/26pt */
	--fs-step--3: clamp(0.36rem, calc(0.28rem + 0.36vw), 0.61rem);
	--fs-step--2: clamp(0.43rem, calc(0.31rem + 0.56vw), 0.81rem);
	--fs-step--1: clamp(0.52rem, calc(0.33rem + 0.83vw), 1.08rem);
	--fs-step-0: clamp(0.63rem, calc(0.35rem + 1.2vw), 1.44rem);
	--fs-step-1: clamp(0.75rem, calc(0.36rem + 1.73vw), 1.92rem);
	--fs-step-2: clamp(0.9rem, calc(0.35rem + 2.45vw), 2.55rem);
	--fs-step-3: clamp(1.08rem, calc(0.31rem + 3.44vw), 3.41rem);
	--fs-step-4: clamp(1.3rem, calc(0.22rem + 4.8vw), 4.54rem);
	--fs-step-5: clamp(1.56rem, calc(0.06rem + 6.66vw), 6.05rem);
	--fs-step-6: clamp(1.87rem, calc(-0.2rem + 9.18vw), 8.07rem);
}
