@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

@font-face {
	font-family: 'Porter Sans Block';
	src: url('../fonts/porter_sans_block/porter-sans-inline-block.ttf')
		format('truetype');
}

:root {
	--primary-font: 'Porter Sans Block';
	--secondary-font: 'Roboto', sans-serif;
	--accent-font: 'Philosopher', sans-serif;
}
